.btc_address, div .anon_address_btc{
  color: #f2a900 ;
  font-family: monospace ;
  cursor: pointer ;
  word-wrap:break-word;
}

.xmr_address, div .anon_address_xmr{
  color: #ff6600 ;
  font-family: monospace ;
  cursor: pointer ;
  word-wrap:break-word;
}

.bch_address, div .anon_address_bch{
  color: #0AC18E ;
  font-family: monospace ;
  cursor: pointer ;
  word-wrap:break-word;
}

.xmr_address:hover, div .anon_address_xmr:hover{
  background-color: gray;
}

.btc_address:hover, div .anon_address_btc:hover {
  background-color: gray;
}
.wishtitle{
  color: cyan ;
}

.bch_address:hover, div .anon_address_bch:hover {
  background-color: gray;
}


.ticker{
    width:50px; /* you can use % */
    height: auto;  
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


.contributors{
  float:right;
  clear:right;
}


/**
 * Tabs
 */

/*
.cointab {
  height: 20px;
}
*/

.tabs {
  display: flex;
  flex-wrap: wrap; // make sure it wraps
}
.tabs label{
  display: block;
  padding: 0.5rem 2rem;
  margin-right: 0.2rem;
  cursor: pointer;
  background: #fff;
  font-weight: bold;
  transition: background ease 0.2s;
  border-radius: 10px;
}


.tabs .tab {
  order: 99; // Put the tabs last
  flex-grow: 1;
  width: 100%;
  display: none;
  padding: 1rem 3rem;
  background: #fff;
}

.tabs input[type="checkbox"]:checked + label {
  background: red;
}
.tabs input[type="checkbox"]:checked + label + .tab {
  display: block;
}
.tabs input[type="checkbox"] {
  display: none;
}
@media (max-width: 45em) {
  .tabs .tab,
  .tabs label {
    order: initial;
  }
  .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
}

/**
 * Generic Styling
*/


span.funded {
  background-color: blue;
  text-shadow: 10%;
}


.withComments {
  display: table;
}


.wishlist{
  width: 70%;
  display:table-cell;
  padding: 10px;
}


.comments{
  display:table-cell;

}

#comment_name{
  background-color: white;
}
#comment_area{
  background-color: white;
}

div.comment{
  padding: 10px
}

span.c_name{
font-weight: bold;
font-size: small;

}

span.c_comment{
color: grey;
font-style: italic;
font-size: smaller;
}

span.c_amount{
font-weight: bold;
font-size: smaller;
}

span.c_for{
  font-size: small;
}

label.donate_button, label.btn, button{
  background-color: white;
  color: green;
  padding: 4px;
  border-radius: 3px;
}


textarea {
    resize: none;
    width: 80%;
}

img#crypto_ticker{
  display: inline;
  position: relative;
  top: 5px;
}

span.c_tip{
  font-size: small;
}

.accepted-here > img {
  height: 65px;
  width: auto;
  display: inline;
}

.launch_wallet a:link {
  color: red;
}

/* visited link */
.launch_wallet a:visited {
  color: green;
}

/* mouse over link */
.launch_wallet a:hover {
  color: hotpink;
}

/* selected link */
.launch_wallet a:active {
  color: blue;
}

img.rss_logo{
    display:inline;
}


span#progress{
  color:black;
  border-radius:5px;
  margin-right:5px;
  background: #0AC18E ;
  font-family: monospace ;
}

span#status{
  border-radius:5px;
  background: blue;
  font-family: monospace;
}
